#main-content .no-gutters img {
  border: 2px solid;
  padding: 2px;
  margin: 2px 2px 0 0; }

.danger {
  background-color: #E27874; }

.warning {
  background-color: #f0ad4e; }

.success {
  background-color: #5cb85c; }

.notapplicable {
  background-color: #B7B7B7; }

.notstarted {
  background-color: #E27874; }

.inprogress {
  background-color: #f0ad4e; }

.complete {
  background-color: #5cb85c; }

#main-content.goal-indicators .indicator-cards a {
  padding: 0;
  margin-bottom: 1.5rem; }

#main-content.goal-indicators .indicator-cards.target {
  margin-bottom: 1.5rem;
  clear: left;
  font-weight: bold; }
  #main-content.goal-indicators .indicator-cards.target span {
    font-size: larger; }
    @media screen and (min-width: 992px) {
      #main-content.goal-indicators .indicator-cards.target span {
        font-size: inherit; } }

#main-content .tab-content img {
  max-height: 130px;
  width: auto; }

header {
  background: #fff;
  border-bottom: #eaeaea 5px solid; }

.navbar #search input {
  width: 160px; }

@media only screen and (max-width: 768px) {
  .navbar .top-level li button {
    color: #E5E6E7;
    display: block;
    padding: 15px;
    border: 0;
    text-transform: uppercase;
    background-color: inherit;
    text-align: left;
    width: 100%; } }
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

#mapHead {
  display: block;
  font-size: 1.0em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

#legend {
  display: block;
  padding-left: 0;
  text-align: left;
  margin-left: 0;
  margin-top: -32px; }
  #legend li {
    font-size: 13px;
    list-style-type: none;
    display: block;
    color: #666;
    line-height: 18px;
    cursor: pointer;
    padding: 5px;
    width: 100%; }
    #legend li:hover {
      background: #eee; }
    #legend li.notshown {
      text-decoration: line-through; }
  #legend .swatchTsr {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 0px;
    border-radius: 7.5px;
    border: 2.5px solid; }
  #legend .swatchTgt {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 18px;
    margin-left: 18px;
    border: 2.5px solid; }
  #legend .swatchTgtBar {
    display: inline-block;
    width: 45px;
    height: 15px;
    margin-right: 3px;
    margin-left: 0px;
    border: 2.5px solid; }
  #legend .swatchLine {
    display: inline-block;
    width: 15px;
    height: 2.5px;
    margin-top: 0px; }
    #legend .swatchLine.left {
      margin-left: 3px;
      margin-right: 0px; }
    #legend .swatchLine.right {
      margin-left: 0px;
      margin-right: 3px; }
    #legend .swatchLine.dashed {
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQImWP8////fwY0wMjIyIguBgCaAgQCms5tJwAAAABJRU5ErkJggg==");
      background-repeat: repeat;
      background-position: -5px 0; }
  #legend .swatchTgtLine {
    display: inline-block;
    width: 45px;
    height: 2.5px;
    margin-top: 0px;
    margin-right: 3px; }
    #legend .swatchTgtLine.dashed {
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQImWP8////fwY0wMjIyIguBgCaAgQCms5tJwAAAABJRU5ErkJggg==");
      background-repeat: repeat;
      background-position: -5px 0; }
  #legend .swatchBar {
    display: inline-block;
    width: 45px;
    height: 15px;
    margin-top: 0px;
    margin-right: 3px; }
    #legend .swatchBar.dashed {
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQImWP8////fwY0wMjIyIguBgCaAgQCms5tJwAAAABJRU5ErkJggg==");
      background-repeat: repeat;
      background-position: -5px 0; }
  #legend span {
    vertical-align: middle;
    line-height: 18px; }
  #legend:after {
    content: "";
    display: table;
    clear: both; }

.header_img {
  display: block;
  float: right;
  width: 30px;
  padding-right: 8px;
  padding-top: 12px; }
  .header_img img {
    width: 100%; }

/* Tooltip container */
.tooltip {
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 0;
  background-color: transparent;
  opacity: 100; }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the Tooltip Text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60%;
  /*Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s; }

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.btn-label {
  color: white; }

.G1-background {
  background-color: #E5243B;
  border-color: transparent;
  margin-bottom: 5px; }

.G1-background:hover {
  background-color: #B71D2F;
  border-color: transparent;
  margin-bottom: 5px; }

.G2-background {
  background-color: #E5B735;
  border-color: transparent;
  margin-bottom: 5px; }

.G2-background:hover {
  background-color: #CEA530;
  border-color: transparent;
  margin-bottom: 5px; }

.G3-background {
  background-color: #4C9F38;
  border-color: transparent;
  margin-bottom: 5px; }

.G3-background:hover {
  background-color: #3D7F2D;
  border-color: transparent;
  margin-bottom: 5px; }

.G4-background {
  background-color: #C5192D;
  border-color: transparent;
  margin-bottom: 5px; }

.G4-background:hover {
  background-color: #9E1424;
  border-color: transparent;
  margin-bottom: 5px; }

.G5-background {
  background-color: #FF3A21;
  border-color: transparent;
  margin-bottom: 5px; }

.G5-background:hover {
  background-color: #CC2E1A;
  border-color: transparent;
  margin-bottom: 5px; }

.G6-background {
  background-color: #26BDE2;
  border-color: transparent;
  margin-bottom: 5px; }

.G6-background:hover {
  background-color: #1E97B5;
  border-color: transparent;
  margin-bottom: 5px; }

.G7-background {
  background-color: #FCC30B;
  border-color: transparent;
  margin-bottom: 5px; }

.G7-background:hover {
  background-color: #CA9C09;
  border-color: transparent;
  margin-bottom: 5px; }

.G8-background {
  background-color: #A21942;
  border-color: transparent;
  margin-bottom: 5px; }

.G8-background:hover {
  background-color: #821435;
  border-color: transparent;
  margin-bottom: 5px; }

.G9-background {
  background-color: #FD6925;
  border-color: transparent;
  margin-bottom: 5px; }

.G9-background:hover {
  background-color: #CA541E;
  border-color: transparent;
  margin-bottom: 5px; }

.G10-background {
  background-color: #DD1367;
  border-color: transparent;
  margin-bottom: 5px; }

.G10-background:hover {
  background-color: #B10F52;
  border-color: transparent;
  margin-bottom: 5px; }

.G11-background {
  background-color: #FD9D00;
  border-color: transparent;
  margin-bottom: 5px; }

.G11-background:hover {
  background-color: #CA7E00;
  border-color: transparent;
  margin-bottom: 5px; }

.G12-background {
  background-color: #C9992D;
  border-color: transparent;
  margin-bottom: 5px; }

.G12-background:hover {
  background-color: #A17A24;
  border-color: transparent;
  margin-bottom: 5px; }

.G13-background {
  background-color: #3F7E44;
  border-color: transparent;
  margin-bottom: 5px; }

.G13-background:hover {
  background-color: #326536;
  border-color: transparent;
  margin-bottom: 5px; }

.G14-background {
  background-color: #0A97D9;
  border-color: transparent;
  margin-bottom: 5px; }

.G14-background:hover {
  background-color: #0879AE;
  border-color: transparent;
  margin-bottom: 5px; }

.G15-background {
  background-color: #56C02B;
  border-color: transparent;
  margin-bottom: 5px; }

.G15-background:hover {
  background-color: #459A22;
  border-color: transparent;
  margin-bottom: 5px; }

.G16-background {
  background-color: #00689D;
  border-color: transparent;
  margin-bottom: 5px; }

.G16-background:hover {
  background-color: #00537E;
  border-color: transparent;
  margin-bottom: 5px; }

.G17-background {
  background-color: #19486A;
  border-color: transparent;
  margin-bottom: 5px; }

.G17-background:hover {
  background-color: #143A55;
  border-color: transparent;
  margin-bottom: 5px; }

.frontBtn {
  color: #777;
  background-color: #f5f5f5;
  border-color: transparent;
  margin-bottom: 5px; }

.frontBtn:hover {
  background-color: #a5a3a3;
  border-color: transparent;
  margin-bottom: 5px; }

#disclaimer {
  background: #BF0C16; }
  #disclaimer .phase-tag {
    background: #005ea5;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 0; }
  #disclaimer .alert {
    color: white;
    margin-bottom: 0;
    padding: 10px; }
    #disclaimer .alert a {
      color: white; }
  #disclaimer .alert-danger {
    border: none;
    margin-bottom: 0;
    background: #BF0C16; }
    #disclaimer .alert-danger a {
      text-decoration: underline; }
    @media only screen and (max-width: 680px) {
      #disclaimer .alert-danger {
        font-size: 0.75em; } }

.status-options {
  display: none;
  position: absolute;
  z-index: 999;
  left: 12px;
  color: #222;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: .2em 1em .2em .2em;
  text-shadow: #f5f5f5 0 1px 0; }
  .status-options li {
    padding: 5px;
    padding-left: 0; }

.status-toggle-button {
  margin-right: 0px;
  cursor: pointer; }

.navbar ul.navbar-nav li a.status-toggle-button {
  display: none; }
  @media only screen and (min-width: 0px) {
    .navbar ul.navbar-nav li a.status-toggle-button {
      display: block; } }

.status-toggle-mobile {
  position: relative;
  padding-top: 20px;
  padding-right: 10px;
  float: right; }
  .status-toggle-mobile .status-options {
    left: -36px; }
    .status-toggle-mobile .status-options li {
      padding-left: 5px; }
  .status-toggle-mobile a {
    text-transform: uppercase; }
    .status-toggle-mobile a .status-toggle-text {
      display: none; }
    .status-toggle-mobile a .status-toggle {
      display: none !important;
      background: #000; }
    .status-toggle-mobile a .fa-globe {
      font-size: 2em; }

.contrast-high .status-toggle-mobile .status-options a, .contrast-high ul.navbar-nav .status-options a {
  color: black; }
  .contrast-high .status-toggle-mobile .status-options a:hover, .contrast-high ul.navbar-nav .status-options a:hover {
    color: black; }
.contrast-high .btn-label {
  color: black; }

.link_btn {
  padding-top: 0px;
  padding-left: 0px;
  margin-top: -7px; }

#logo {
  width: 245;
  height: 33; }

.statusGoal {
  width: 100%;
  height: auto; }

.frameStatus {
  width: 20%;
  float: left;
  min-height: 1px; }

@media screen and (max-width: 25em) {
  .frameStatus {
    display: none; } }
.tableresp {
  width: 80%;
  align: right;
  float: right; }

@media screen and (max-width: 25em) {
  .tableresp {
    width: 100%;
    align: left;
    float: left; } }
.responsiveWeather {
  width: 100%;
  max-width: 60px;
  min-width: 15px;
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  border: transparent; }

.responsiveText {
  font-size: 1.0em; }

@media screen and (max-width: 75em) {
  .responsiveText {
    font-size: 0.8em; } }
@media screen and (max-width: 50em) {
  .responsiveText {
    font-size: 0.6em; } }
@media screen and (max-width: 50em) {
  .tableresp {
    border-collapse: collapse; } }
.my-header {
  display: inline-block; }

.my-header-note {
  display: inline-block;
  font-size: 0.8em; }

.leaflet-container {
  background-color: rgba(51, 51, 51, 0.8); }

#main-content #map {
  height: 500px;
  width: 100%; }
  #main-content #map #loader-container {
    position: relative;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center; }
    #main-content #map #loader-container img {
      height: auto; }
  #main-content #map .leaflet-control .timecontrol-date {
    min-width: 80px;
    padding: 0 10px; }
  @media only screen and (max-width: 680px) {
    #main-content #map .leaflet-control .timecontrol-slider {
      display: none; } }
  #main-content #map .leaflet-control .download-geojson-button {
    display: block;
    cursor: pointer; }
  #main-content #map .selection-legend {
    background-color: rgba(150, 150, 150, 0.6);
    padding: 0;
    width: 300px; }
    #main-content #map .selection-legend .legend-swatches {
      height: 10px; }
      #main-content #map .selection-legend .legend-swatches .legend-swatch {
        display: block;
        float: left;
        height: 10px; }
    #main-content #map .selection-legend .legend-values {
      position: absolute;
      bottom: -10px;
      width: 100%; }
      #main-content #map .selection-legend .legend-values .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        top: -10px;
        z-index: 1; }
        #main-content #map .selection-legend .legend-values .arrow.left {
          border-width: 20px 0 0 20px;
          border-color: transparent transparent transparent white;
          left: 0; }
        #main-content #map .selection-legend .legend-values .arrow.right {
          border-width: 0 0 20px 20px;
          border-color: transparent transparent white transparent;
          right: 1px;
          box-shadow: 1px 1px 1px 0px #666; }
      #main-content #map .selection-legend .legend-values .legend-value {
        padding: 0 4px;
        background: white;
        position: absolute;
        z-index: 2;
        box-shadow: 1px 1px 1px 0px #666; }
        #main-content #map .selection-legend .legend-values .legend-value.left {
          min-width: 20px;
          left: 0; }
        #main-content #map .selection-legend .legend-values .legend-value.right {
          min-width: 20px;
          right: 1px; }
    #main-content #map .selection-legend #selection-list {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0; }
      #main-content #map .selection-legend #selection-list li {
        position: relative;
        margin-top: 3px;
        cursor: pointer;
        height: 23px; }
        #main-content #map .selection-legend #selection-list li:first-child {
          margin-top: 0; }
        #main-content #map .selection-legend #selection-list li .selection-bar, #main-content #map .selection-legend #selection-list li .selection-name, #main-content #map .selection-legend #selection-list li .selection-value {
          height: 23px;
          position: absolute; }
        #main-content #map .selection-legend #selection-list li .selection-bar {
          border-radius: 2px 0 0 2px;
          background: white;
          z-index: 1; }
        #main-content #map .selection-legend #selection-list li .selection-name {
          z-index: 2;
          padding: 3px 20px 3px 3px; }
        #main-content #map .selection-legend #selection-list li.no-value .selection-name {
          background: repeating-linear-gradient(45deg, #FFF, #FFF 2px, #CCC 2px, #CCC 4px); }
        #main-content #map .selection-legend #selection-list li.no-value .selection-bar, #main-content #map .selection-legend #selection-list li.no-value .selection-value {
          display: none; }
        #main-content #map .selection-legend #selection-list li .selection-value {
          z-index: 2;
          margin-right: 5px;
          background-color: #ddd;
          padding: 3px;
          border-radius: 2px; }
        #main-content #map .selection-legend #selection-list li .selection-close {
          top: 6px;
          right: 5px;
          position: absolute;
          z-index: 3; }
  @media only screen and (max-width: 680px) {
    #main-content #map .selection-legend {
      width: 200px; } }

.responsiveImg {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px; }

.responsiveSubtitle {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.goal-1.heading {
  background-color: white;
  border-bottom: 15px solid #E52B3D;
  border-top: 15px solid #E52B3D; }
.goal-1.underline {
  height: 5px;
  border-top: 5px solid #c51829; }
.goal-1.titles {
  color: #c51829; }
.goal-1.heading.contrast-high {
  background: black; }
  .goal-1.heading.contrast-high a {
    color: yellow; }
.goal-1.goal-indicators div span {
  border-color: #c51829;
  color: #c51829; }

.goal-tiles #goal-1:hover {
  background-color: #E52B3D; }

.goal-2.heading {
  background-color: white;
  border-bottom: 15px solid #DDA63A;
  border-top: 15px solid #DDA63A; }
.goal-2.underline {
  height: 5px;
  border-top: 5px solid #c28c22; }
.goal-2.titles {
  color: #c28c22; }
.goal-2.heading.contrast-high {
  background: black; }
  .goal-2.heading.contrast-high a {
    color: yellow; }
.goal-2.goal-indicators div span {
  border-color: #c28c22;
  color: #c28c22; }

.goal-tiles #goal-2:hover {
  background-color: #DDA63A; }

.goal-3.heading {
  background-color: white;
  border-bottom: 15px solid #4C9F38;
  border-top: 15px solid #4C9F38; }
.goal-3.underline {
  height: 5px;
  border-top: 5px solid #3a792b; }
.goal-3.titles {
  color: #3a792b; }
.goal-3.heading.contrast-high {
  background: black; }
  .goal-3.heading.contrast-high a {
    color: yellow; }
.goal-3.goal-indicators div span {
  border-color: #3a792b;
  color: #3a792b; }

.goal-tiles #goal-3:hover {
  background-color: #4C9F38; }

.goal-4.heading {
  background-color: white;
  border-bottom: 15px solid #C42130;
  border-top: 15px solid #C42130; }
.goal-4.underline {
  height: 5px;
  border-top: 5px solid #981a25; }
.goal-4.titles {
  color: #981a25; }
.goal-4.heading.contrast-high {
  background: black; }
  .goal-4.heading.contrast-high a {
    color: yellow; }
.goal-4.goal-indicators div span {
  border-color: #981a25;
  color: #981a25; }

.goal-tiles #goal-4:hover {
  background-color: #C42130; }

.goal-5.heading {
  background-color: white;
  border-bottom: 15px solid #FF3E24;
  border-top: 15px solid #FF3E24; }
.goal-5.underline {
  height: 5px;
  border-top: 5px solid #f01c00; }
.goal-5.titles {
  color: #f01c00; }
.goal-5.heading.contrast-high {
  background: black; }
  .goal-5.heading.contrast-high a {
    color: yellow; }
.goal-5.goal-indicators div span {
  border-color: #f01c00;
  color: #f01c00; }

.goal-tiles #goal-5:hover {
  background-color: #FF3E24; }

.goal-6.heading {
  background-color: white;
  border-bottom: 15px solid #28BCE1;
  border-top: 15px solid #28BCE1; }
.goal-6.underline {
  height: 5px;
  border-top: 5px solid #1a9bbc; }
.goal-6.titles {
  color: #1a9bbc; }
.goal-6.heading.contrast-high {
  background: black; }
  .goal-6.heading.contrast-high a {
    color: yellow; }
.goal-6.goal-indicators div span {
  border-color: #1a9bbc;
  color: #1a9bbc; }

.goal-tiles #goal-6:hover {
  background-color: #28BCE1; }

.goal-7.heading {
  background-color: white;
  border-bottom: 15px solid #FCC30B;
  border-top: 15px solid #FCC30B; }
.goal-7.underline {
  height: 5px;
  border-top: 5px solid #d1a103; }
.goal-7.titles {
  color: #d1a103; }
.goal-7.heading.contrast-high {
  background: black; }
  .goal-7.heading.contrast-high a {
    color: yellow; }
.goal-7.goal-indicators div span {
  border-color: #d1a103;
  color: #d1a103; }

.goal-tiles #goal-7:hover {
  background-color: #FCC30B; }

.goal-8.heading {
  background-color: white;
  border-bottom: 15px solid #A21942;
  border-top: 15px solid #A21942; }
.goal-8.underline {
  height: 5px;
  border-top: 5px solid #761230; }
.goal-8.titles {
  color: #761230; }
.goal-8.heading.contrast-high {
  background: black; }
  .goal-8.heading.contrast-high a {
    color: yellow; }
.goal-8.goal-indicators div span {
  border-color: #761230;
  color: #761230; }

.goal-tiles #goal-8:hover {
  background-color: #A21942; }

.goal-9.heading {
  background-color: white;
  border-bottom: 15px solid #FD6925;
  border-top: 15px solid #FD6925; }
.goal-9.underline {
  height: 5px;
  border-top: 5px solid #ed4c02; }
.goal-9.titles {
  color: #ed4c02; }
.goal-9.heading.contrast-high {
  background: black; }
  .goal-9.heading.contrast-high a {
    color: yellow; }
.goal-9.goal-indicators div span {
  border-color: #ed4c02;
  color: #ed4c02; }

.goal-tiles #goal-9:hover {
  background-color: #FD6925; }

.goal-10.heading {
  background-color: white;
  border-bottom: 15px solid #DD1367;
  border-top: 15px solid #DD1367; }
.goal-10.underline {
  height: 5px;
  border-top: 5px solid #ae0f51; }
.goal-10.titles {
  color: #ae0f51; }
.goal-10.heading.contrast-high {
  background: black; }
  .goal-10.heading.contrast-high a {
    color: yellow; }
.goal-10.goal-indicators div span {
  border-color: #ae0f51;
  color: #ae0f51; }

.goal-tiles #goal-10:hover {
  background-color: #DD1367; }

.goal-11.heading {
  background-color: white;
  border-bottom: 15px solid #FD9C27;
  border-top: 15px solid #FD9C27; }
.goal-11.underline {
  height: 5px;
  border-top: 5px solid #ef8402; }
.goal-11.titles {
  color: #ef8402; }
.goal-11.heading.contrast-high {
  background: black; }
  .goal-11.heading.contrast-high a {
    color: yellow; }
.goal-11.goal-indicators div span {
  border-color: #ef8402;
  color: #ef8402; }

.goal-tiles #goal-11:hover {
  background-color: #FD9C27; }

.goal-12.heading {
  background-color: white;
  border-bottom: 15px solid #BF8B2E;
  border-top: 15px solid #BF8B2E; }
.goal-12.underline {
  height: 5px;
  border-top: 5px solid #966d24; }
.goal-12.titles {
  color: #966d24; }
.goal-12.heading.contrast-high {
  background: black; }
  .goal-12.heading.contrast-high a {
    color: yellow; }
.goal-12.goal-indicators div span {
  border-color: #966d24;
  color: #966d24; }

.goal-tiles #goal-12:hover {
  background-color: #BF8B2E; }

.goal-13.heading {
  background-color: white;
  border-bottom: 15px solid #417D46;
  border-top: 15px solid #417D46; }
.goal-13.underline {
  height: 5px;
  border-top: 5px solid #305b33; }
.goal-13.titles {
  color: #305b33; }
.goal-13.heading.contrast-high {
  background: black; }
  .goal-13.heading.contrast-high a {
    color: yellow; }
.goal-13.goal-indicators div span {
  border-color: #305b33;
  color: #305b33; }

.goal-tiles #goal-13:hover {
  background-color: #417D46; }

.goal-14.heading {
  background-color: white;
  border-bottom: 15px solid #0A96D8;
  border-top: 15px solid #0A96D8; }
.goal-14.underline {
  height: 5px;
  border-top: 5px solid #0874a7; }
.goal-14.titles {
  color: #0874a7; }
.goal-14.heading.contrast-high {
  background: black; }
  .goal-14.heading.contrast-high a {
    color: yellow; }
.goal-14.goal-indicators div span {
  border-color: #0874a7;
  color: #0874a7; }

.goal-tiles #goal-14:hover {
  background-color: #0A96D8; }

.goal-15.heading {
  background-color: white;
  border-bottom: 15px solid #57BE2F;
  border-top: 15px solid #57BE2F; }
.goal-15.underline {
  height: 5px;
  border-top: 5px solid #449525; }
.goal-15.titles {
  color: #449525; }
.goal-15.heading.contrast-high {
  background: black; }
  .goal-15.heading.contrast-high a {
    color: yellow; }
.goal-15.goal-indicators div span {
  border-color: #449525;
  color: #449525; }

.goal-tiles #goal-15:hover {
  background-color: #57BE2F; }

.goal-16.heading {
  background-color: white;
  border-bottom: 15px solid #00689C;
  border-top: 15px solid #00689C; }
.goal-16.underline {
  height: 5px;
  border-top: 5px solid #004669; }
.goal-16.titles {
  color: #004669; }
.goal-16.heading.contrast-high {
  background: black; }
  .goal-16.heading.contrast-high a {
    color: yellow; }
.goal-16.goal-indicators div span {
  border-color: #004669;
  color: #004669; }

.goal-tiles #goal-16:hover {
  background-color: #00689C; }

.goal-17.heading {
  background-color: white;
  border-bottom: 15px solid #1F4A6A;
  border-top: 15px solid #1F4A6A; }
.goal-17.underline {
  height: 5px;
  border-top: 5px solid #132e43; }
.goal-17.titles {
  color: #132e43; }
.goal-17.heading.contrast-high {
  background: black; }
  .goal-17.heading.contrast-high a {
    color: yellow; }
.goal-17.goal-indicators div span {
  border-color: #132e43;
  color: #132e43; }

.goal-tiles #goal-17:hover {
  background-color: #1F4A6A; }

body.contrast-high {
  background-color: black; }
  body.contrast-high .goal-1.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-1.titles {
    color: white; }
  body.contrast-high .goal-2.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-2.titles {
    color: white; }
  body.contrast-high .goal-3.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-3.titles {
    color: white; }
  body.contrast-high .goal-4.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-4.titles {
    color: white; }
  body.contrast-high .goal-5.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-5.titles {
    color: white; }
  body.contrast-high .goal-6.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-6.titles {
    color: white; }
  body.contrast-high .goal-7.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-7.titles {
    color: white; }
  body.contrast-high .goal-8.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-8.titles {
    color: white; }
  body.contrast-high .goal-9.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-9.titles {
    color: white; }
  body.contrast-high .goal-10.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-10.titles {
    color: white; }
  body.contrast-high .goal-11.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-11.titles {
    color: white; }
  body.contrast-high .goal-12.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-12.titles {
    color: white; }
  body.contrast-high .goal-13.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-13.titles {
    color: white; }
  body.contrast-high .goal-14.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-14.titles {
    color: white; }
  body.contrast-high .goal-15.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-15.titles {
    color: white; }
  body.contrast-high .goal-16.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-16.titles {
    color: white; }
  body.contrast-high .goal-17.heading {
    background-color: black;
    border-bottom: 15px solid yellow;
    border-top: 15px solid yellow; }
  body.contrast-high .goal-17.titles {
    color: white; }
  body.contrast-high #page-content .alert div p, body.contrast-high #page-content .alert div h4 {
    color: black; }
  body.contrast-high #accessibility-nav li.contrast-default {
    display: block; }
  body.contrast-high #accessibility-nav li.contrast-high {
    display: none; }
  body.contrast-high .table {
    background: black; }
  body.contrast-high .btn {
    background: white !important;
    color: black !important; }
    body.contrast-high .btn:hover {
      background: yellow !important; }
    body.contrast-high .btn:focus {
      background: yellow !important; }
  body.contrast-high div#units {
    color: white; }
  body.contrast-high .nav-tabs {
    border-color: yellow; }
  body.contrast-high #main-content #fields .bar .selected {
    background-color: white; }
  body.contrast-high #main-content #fields .variable-selector .variable-hint {
    color: white; }
  body.contrast-high #main-content .nav-tabs .nav-item.active a {
    background: yellow;
    color: black;
    border-color: yellow; }
  body.contrast-high a.nav-link:focus {
    background: white;
    color: black; }
  body.contrast-high caption {
    color: white; }
  body.contrast-high .table-hover tbody tr:hover {
    background: yellow; }
    body.contrast-high .table-hover tbody tr:hover td {
      color: black; }
    body.contrast-high .table-hover tbody tr:hover th {
      color: black; }
    body.contrast-high .table-hover tbody tr:hover a {
      color: blue;
      text-decoration: underline; }
  body.contrast-high .container, body.contrast-high #main-content, body.contrast-high header, body.contrast-high footer, body.contrast-high #disclaimer, body.contrast-high .heading {
    background: black;
    border-color: black; }
  body.contrast-high p, body.contrast-high h2, body.contrast-high h3, body.contrast-high h4, body.contrast-high span, body.contrast-high td, body.contrast-high th, body.contrast-high a#text {
    color: white; }
  body.contrast-high h1, body.contrast-high li, body.contrast-high a {
    color: yellow; }
  body.contrast-high li.contrast-default a {
    color: black !important; }
  body.contrast-high .navbar li a {
    color: white; }
    body.contrast-high .navbar li a:hover, body.contrast-high .navbar li a:focus {
      color: yellow; }
  body.contrast-high .navbar li.active a {
    color: yellow;
    border-color: yellow; }
    body.contrast-high .navbar li.active a:hover {
      color: yellow; }
    body.contrast-high .navbar li.active a:focus {
      color: yellow; }
  body.contrast-high .goal-indicators div span {
    border-color: white !important;
    color: white !important; }
  body.contrast-high .goal-indicators .indicator-cards a, body.contrast-high .goal-indicators .indicator-cards.target {
    color: white !important; }
  body.contrast-high .goal-indicators .indicator-cards span.status, body.contrast-high .goal-indicators .indicator-cards .tags li {
    color: black !important; }
  body.contrast-high #main-content #fields label {
    background: black;
    color: white; }
    body.contrast-high #main-content #fields label:hover {
      background: white;
      color: black; }
    body.contrast-high #main-content #fields label:focus {
      background: white;
      color: black; }
  body.contrast-high #toolbar button {
    background-color: black !important;
    border-color: white;
    color: white; }
  body.contrast-high .danger {
    background-color: red; }
  body.contrast-high .warning {
    background-color: yellow; }
  body.contrast-high .success {
    background-color: green; }
  body.contrast-high .statuses strong {
    color: white; }
  body.contrast-high .statuses .value {
    color: white !important; }
  body.contrast-high .variable-options {
    background: black;
    color: white; }
    body.contrast-high .variable-options div {
      background: black;
      color: white; }
    body.contrast-high .variable-options button {
      background: black;
      color: white !important;
      border-color: white; }
  body.contrast-high .breadcrumb {
    background: white; }
    body.contrast-high .breadcrumb a {
      color: black !important; }
  body.contrast-high span.match {
    color: black !important; }
  @media screen and (max-width: 768px) {
    body.contrast-high .navbar.navbar-default {
      background: black;
      color: white; }
    body.contrast-high .navbar .top-level li.active {
      background: white; }
      body.contrast-high .navbar .top-level li.active span {
        color: black; }
    body.contrast-high .navbar .menu-target {
      background: black; }
    body.contrast-high .navbar ul.navbar-nav li a {
      background: black; } }

figure {
  float: right;
  display: table;
  border: 1px solid #ddd;
  border-radius: 4px; }

figcaption {
  display: table-caption;
  caption-side: bottom; }
